                {{>navigation}}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Contratos</h1>
                    <p class="mb-4">Informações de contratos em vigência junto a Zhaz.</p>

                    <!-- Content Row -->
                    <div class="row">

                        <div class="col-xl-12 col-lg-7">

                            <!-- Area Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Dados de Contratos</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                      
                                        <table class="table table-sm">
                                            <thead>
                                              <tr>
                                                <th scope="col">Número</th>
                                                <th scope="col">Descrição</th>
                                                <th scope="col">Data Inicio</th>
                                                <th scope="col">Data Final</th>
                                                <th scope="col">Anexo</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <th scope="row">11245</th>
                                                <td>Contrato de Manutenção</td>
                                                <td>01/01/2021</td>
                                                <td>31/12/2021</td>
                                                <td><a href="http://"><span class="badge badge-primary"><i class="fas fa-file-alt text-white"></i></span> Anexo</a></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">12435</th>
                                                <td>Contrato de Locação</td>
                                                <td>05/05/2021</td>
                                                <td>05/06/2021</td>
                                                <td><a href="http://"><span class="badge badge-primary"><i class="fas fa-file-alt text-white"></i></span> Anexo</a></td>
                                              </tr>
                                              
                                            </tbody>
                                          </table>        


                                    </div>
                                    <hr>
                                    Dados atualizados com nosso sistema.
                                    <code>Zhaz Soluções de A a Z</code>
                                </div>
                            </div>

                            <!-- Bar Chart -->
                           

                        </div>

                        <!-- Donut Chart -->
                      
                    </div>

                </div>
                {{>footer}}