body{
    background-image: url('/img/background.jpg');
}

.registration-form{
	padding: 10px 0;   
}

.registration-form form{    
    background-color: #fff;
    max-width: 450px;
    margin: auto;
    padding: 10px 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.icon{
	text-align: center;
    font-size: 40px;  
    width: 250px;
    height: 200px;
    margin-bottom: -10px; 
    margin-top: -2px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #0f7de4;
    border: none;
    color: white;
    margin-top: 10px;   
}

.registration-form .social-media{
    max-width: 450px;
    background-color: #fff;
    margin: auto;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
    margin-top: 2px;
    margin-bottom: 2px;
}

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #0694f3;
    border: 1px solid;
    border-radius: 50%;
    width: 10px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

.content {
    position: relative;
}

.logo {
    margin-bottom: -80px;
    
}

td { font-size: 15px; }


.des {
    font-size: 12px;
}

.dados {
    font-size: 14px;
}