<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zhaz Soluções</title>

    <link rel="shortcut icon" type="imagex/png" href="/img/favicon.ico">  
   
    <!-- Custom fonts for this template-->

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/cs   s?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">     
 
    <!-- Custom styles for this template-->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">    
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" >
    

     <!-- Custom styles for this page --> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">   

    <!-- Donutty -->    
    <script src="/vendor/donutty/donutty.js"></script>
    <script src="/vendor/donutty/vanilla.js"></script>
    <script src="/vendor/donutty/line.js"></script>
       
    
   
 
</head>
<body>
   
   {{>messages}}
   {{>errors}}
   {{{body}}}   

   
    
  
     
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script> 

     <!-- Page level custom scripts -->
    <script src="js/datatables-demo.js"></script> 

    <!-- Core plugin JavaScript-->
    <script src="js/count.js"></script>  

     <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

     <!-- Core plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    
    
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>    

         
    
    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>    
    <script src="js/chart-pie-demo.js"></script>
    <script src="js/chart-bar-demo.js"></script>
    <script src="js/script.js"></script>     
     
  
</body>
</html>